@media only screen and (max-width: 1400px) {
  main section.one-screen .item-desc .logo-data nav {
    margin-top: 10px;
    font-size: 19px;
  }

  .logo-data {
    padding: 0 15px;
  }

  main section.three-screen .item-desc .oplet-flex .opt {
    margin-top: 10px;
  }

  main section.three-screen .item-desc .oplet-flex .ttl-h3 .figura {
    left: -36px;
  }
}
@media only screen and (max-width: 1300px) {
  main section.one-screen .item-desc .logo-data nav ul li:after {
    font-size: 80px;
    padding: 0px 0px 0px 3px;
    top: -1px;
  }

  main section.one-screen .item-desc .logo-data .slogan {
    font-size: 31px;
  }

  main section.two-screen .vantage .flex-wrap {
    flex-wrap: wrap;
  }

  main section.two-screen .vantage .flex-wrap .item-vantage {
    padding: 10px 20px;
  }

  main section.two-screen .vantage {
    padding-bottom: 70px;
  }

  main section.three-screen .item-desc .oplet-flex .ttl-h3 .figura {
    display: none;
  }
}
@media only screen and (max-width: 1200px) {
  main header .container-header {
    margin: 37px 0;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  main header .local {
    top: -36px;
  }

  main section.one-screen {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  main section.one-screen .item-desc {
    width: 100%;
  }

  main section.one-screen .slider-item {
    width: 100%;
  }

  main section.one-screen .item-desc .logo-data .slogan {
    font-size: 37px;
    text-align: center;
  }

  main section.one-screen .item-desc .logo-data nav {
    display: none;
  }

  .logo-data {
    margin: 100px 0;
  }

  main section.three-screen {
    flex-direction: column;
  }

  main section.three-screen .slider-item {
    width: 100%;
    order: 2;
  }

  main section.three-screen .item-desc {
    width: 100%;
    order: 1;
  }

  main section.three-screen .item-desc .oplet-flex {
    margin: 88px 0;
  }

  main section.three-screen .item-desc .oplet-flex .opt {
    margin-top: 20px;
  }

  main section.four-screen .container-video .video {
    padding: 0 15px;
  }

  main section.five-screen .container-review .slider-review .items-review {
    padding: 0 90px 65px 90px;
  }

  main section.five-screen .container-review .slider-review .nav .prev {
    left: 6px;
  }

  main section.five-screen .container-review .slider-review .items-review .item .author {
    margin-top: 35px;
  }

  main section.six-screen .container-contacts .flex-wrap .item .desc {
    font-size: 26px;
  }
}
@media only screen and (max-width: 992px) {
  main section.six-screen .container-contacts .flex-wrap {
    flex-direction: column;
    padding-bottom: 65px;
  }

  main section.six-screen .container-contacts .flex-wrap .item .img {
    display: none;
  }

  main section.six-screen .container-contacts .flex-wrap .item .desc {
    margin-top: 0;
  }

  footer .container-footer {
    flex-direction: column;
    margin: 50px 0 0 0;
  }

  footer .copyright {
    position: initial;
    text-align: center;
  }
}
@media only screen and (max-width: 768px) {
  main section.two-screen .vantage .flex-wrap .item-vantage {
    padding: 30px 20px;
    margin: 0 20px;
  }

  main section.three-screen .item-desc .oplet-flex {
    padding: 0 15px;
  }

  main section.five-screen .container-review .slider-review .items-review {
    text-align: center;
  }

  main section.six-screen .container-contacts .flex-wrap .item .desc {
    line-height: 33px;
  }

  footer .container-footer {
    text-align: center;
  }

  footer .container-footer .address-footer, footer .container-footer .phone-footer {
    flex-direction: column;
    margin-top: 35px;
  }

  footer .container-footer .address-footer img, footer .container-footer .phone-footer img {
    margin-bottom: 10px;
  }

  footer .container-footer .address-footer span {
    line-height: 1.1;
  }

  footer .copyright {
    margin-top: 25px;
  }
}
@media only screen and (max-width: 490px) {
  main header .container-header .address-header {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
  }

  main header .container-header .address-header img {
    margin: 25px 0 5px 0;
  }

  main header .container-header .address-header span {
    line-height: 28px;
    margin-left: 0;
  }

  main header .container-header .address-header span br {
    display: block;
  }

  main header .container-header .phone-header {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  main header .container-header .phone-header img {
    margin: 25px 0 5px 0;
  }

  main header .container-header .phone-header a span {
    margin-left: 0;
  }

  main section.one-screen .item-desc .logo-data nav {
    display: block;
    text-align: center;
  }

  main section.one-screen .item-desc .logo-data nav ul {
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  main section.one-screen .item-desc .logo-data nav ul li:after {
    display: block;
    margin: 0;
    padding: 0;
    line-height: 0;
    top: -19px;
  }

  main section.one-screen .item-desc .logo-data nav ul li a {
    z-index: 999;
    position: relative;
  }

  main section.one-screen .item-desc .logo-data .slogan {
    font-size: 34px;
  }

  main section.three-screen .item-desc .oplet-flex .price {
    position: relative;
    left: 50%;
    margin-left: -93px;
    bottom: -48px;
    top: inherit;
    margin-top: 0;
  }

  main section.three-screen .item-desc .oplet-flex {
    text-align: center;
  }

  main section.four-screen {
    min-height: 510px;
  }

  main section.five-screen .container-review .slider-review .items-review {
    padding: 0 15px 110px 15px;
  }

  main section.five-screen .container-review .slider-review .nav {
    position: relative;
    bottom: 50px;
  }

  main section.five-screen .container-review .slider-review .nav .prev {
    left: 30px;
  }

  main section.five-screen .container-review .slider-review .nav .next {
    right: 20px;
  }

  main section.five-screen .container-review .slider-review .items-review .item .author .img {
    order: 2;
    margin-left: 30px;
  }

  main section.five-screen .container-review .slider-review .items-review .item .author {
    justify-content: center;
  }

  main header .local {
    right: 15px;
  }
}
