/* NORMALIZE */
/* ================================================ */
html, body, div, span, applet, main, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, main, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Tahoma, sans-serif;
  line-height: 1;
  background-color: #ffffff;
  height: 100%;
  position: relative;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-width: 0px;
  padding: 0px;
  margin: 0px;
}

html {
  height: 100%;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
}

input, textarea {
  color: #333;
  outline: none;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -webkit-appearance: none;
}

input[type="button"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: none;
  outline: none;
}

button {
  cursor: pointer;
  -webkit-appearance: none;
  outline: none;
}

td, form {
  margin: 0px;
  padding: 0px;
}

a {
  color: #000100;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  text-decoration: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

@font-face {
  font-family: Lato;
  src: url("../fonts/Lato-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: Lato;
  src: url("../fonts/Lato-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: Lato;
  src: url("../fonts/Lato-Heavy.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Lato;
  src: url("../fonts/Lato-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Lato;
  src: url("../fonts/Lato-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: Lato;
  src: url("../fonts/Lato-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: 'Lato', sans-serif;
}

.ttl {
  text-align: center;
}
.ttl h2 {
  color: #fff;
  font-family: Lato;
  font-size: 31px;
  font-weight: 700;
  line-height: 51px;
  text-transform: uppercase;
  letter-spacing: 0.31px;
}

main header {
  position: relative;
}
main header .container-header {
  max-width: 1360px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 0 15px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  min-height: 115px;
  -webkit-align-items: center;
  align-items: center;
}
main header .container-header .site-header {
  font-family: Lato;
  font-size: 25px;
  font-weight: 800;
  line-height: 11px;
}
main header .container-header .site-header a {
  color: #c5a07c;
}
main header .container-header .address-header {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
}
main header .container-header .address-header i img {
  height: 39px;
  width: 29px;
}
main header .container-header .address-header span {
  margin-left: 15px;
  color: #000;
  font-size: 23px;
  line-height: 28px;
  font-weight: 400;
  letter-spacing: 0.57px;
}
main header .container-header .address-header span br {
  display: none;
}
main header .container-header .phone-header {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
}
main header .container-header .phone-header i img {
  width: 37px;
  height: 37px;
}
main header .container-header .phone-header a span {
  margin-left: 15px;
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 0.63px;
}
main header .local {
  position: absolute;
  top: 0;
  right: 31px;
}
main header .local ul li {
  display: inline-block;
}
main header .local ul li a {
  color: #8a8888;
  font-family: Lato;
  font-size: 19px;
  font-weight: 400;
  line-height: 44px;
}
main header .local ul li.active a {
  color: #000;
}
main section.one-screen {
  height: 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}
main section.one-screen .item-desc {
  width: 46%;
  background: url(../img/bg-one.jpg);
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}
main section.one-screen .item-desc .logo-data .logo img {
  max-width: 495px;
  width: 100%;
  height: auto;
}
main section.one-screen .item-desc .logo-data .slogan {
  color: #fff;
  font-family: Lato;
  font-size: 37px;
  line-height: 1.3em;
}
main section.one-screen .item-desc .logo-data .slogan p span {
  color: #000;
  font-weight: 900;
}
main section.one-screen .item-desc .logo-data nav {
  color: #000;
  font-family: Lato;
  font-size: 22px;
  font-weight: bold;
  line-height: 51px;
  margin-top: 90px;
}
main section.one-screen .item-desc .logo-data nav ul li {
  list-style: none;
  display: inline-block;
  position: relative;
}
main section.one-screen .item-desc .logo-data nav ul li:after {
  content: ".";
  font-size: 85px;
  color: #fff;
  position: relative;
  padding: 0px 7px 0px 15px;
  top: -2px;
}
main section.one-screen .item-desc .logo-data nav ul li:last-child:after {
  content: "";
}
main section.one-screen .slider-item {
  width: 54%;
  position: relative;
  flex: none;
}
main section.one-screen .slider-item .slides {
  width: 100%;
  height: 100%;
}
main section.one-screen .slider-item .slides .slide {
  height: 100%;
  display: none;
}
main section.one-screen .slider-item .slides .slide img {
  width: 100%;
  height: 100%;
}
main section.one-screen .slider-item .navs .prev {
  position: absolute;
  z-index: 33;
  left: 31px;
  top: 50%;
  margin-top: -25px;
  cursor: pointer;
}
main section.one-screen .slider-item .navs .next {
  position: absolute;
  z-index: 33;
  right: 31px;
  top: 50%;
  margin-top: -25px;
  cursor: pointer;
}
main section.two-screen {
  min-height: 488px;
  background: #a07262;
  width: 100%;
}
main section.two-screen .vantage {
  padding-top: 70px;
}
main section.two-screen .vantage .flex-wrap {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  margin-top: 70px;
}
main section.two-screen .vantage .flex-wrap .item-vantage {
  text-align: center;
  max-width: 230px;
}
main section.two-screen .vantage .flex-wrap .item-vantage .img img {
  max-width: 100%;
  height: auto;
}
main section.two-screen .vantage .flex-wrap .item-vantage p {
  color: #fff;
  font-family: Lato;
  font-size: 23px;
  font-weight: 500;
  line-height: 21px;
}
main section.three-screen {
  min-height: 610px;
  height: 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}
main section.three-screen .item-desc {
  width: 50%;
  background: #c5a07c;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}
main section.three-screen .item-desc .oplet-flex {
  max-width: 600px;
  position: relative;
}
main section.three-screen .item-desc .oplet-flex .ttl-h3 {
  font-size: 31px;
  font-weight: 700;
  letter-spacing: 0.31px;
  line-height: 31px;
  position: relative;
}
main section.three-screen .item-desc .oplet-flex .ttl-h3 span {
  font-size: 21px;
  font-weight: 700;
  letter-spacing: 0.21px;
  line-height: 31px;
}
main section.three-screen .item-desc .oplet-flex .ttl-h3 .figura {
  position: absolute;
  left: -48px;
  top: -2px;
  border: 5px solid #fff;
  height: 28px;
  width: 28px;
}
main section.three-screen .item-desc .oplet-flex .opt {
  margin-top: 40px;
}
main section.three-screen .item-desc .oplet-flex ul li {
  list-style: none;
  text-transform: uppercase;
  line-height: 24px;
  font-weight: 500;
}
main section.three-screen .item-desc .oplet-flex ul li b {
  font-weight: 600;
  letter-spacing: 0.19px;
  line-height: 29px;
}
main section.three-screen .item-desc .oplet-flex .price {
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -90px;
  border: 9px solid #fff;
  height: 185px;
  width: 185px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  text-align: center;
}
main section.three-screen .item-desc .oplet-flex .price .cost {
  margin-bottom: 30px;
}
main section.three-screen .item-desc .oplet-flex .price .cost .summ {
  font-size: 45px;
  font-weight: 700;
}
main section.three-screen .item-desc .oplet-flex .price .cost .usl {
  font-size: 21px;
}
main section.three-screen .item-desc .oplet-flex .price .poyasn {
  font-size: 18px;
  padding-bottom: 5px;
}
main section.three-screen .slider-item {
  position: relative;
  flex: none;
  width: 50%;
}
main section.three-screen .slider-item .slides {
  width: 100%;
  height: 100%;
}
main section.three-screen .slider-item .slides .slide {
  height: 100%;
  display: none;
}
main section.three-screen .slider-item .slides .slide img {
  width: 100%;
  height: 100%;
}
main section.three-screen .slider-item .navs .prev {
  position: absolute;
  z-index: 33;
  left: 31px;
  top: 50%;
  margin-top: -25px;
  cursor: pointer;
}
main section.three-screen .slider-item .navs .next {
  position: absolute;
  z-index: 33;
  right: 31px;
  top: 50%;
  margin-top: -25px;
  cursor: pointer;
}
main section.four-screen {
  min-height: 700px;
  background: url(../img/bg-two.jpg) no-repeat;
}
main section.four-screen .container-video {
  padding-top: 47px;
  max-width: 910px;
  margin: 0 auto;
  height: 100%;
}
main section.four-screen .container-video .video {
  max-width: 910px;
  max-height: 510px;
  height: 100%;
}
main section.four-screen .container-video .video .video__active {
  width: 100%;
  height: 100%;
  margin-top: 30px;
  display: inline-block;
}
main section.four-screen .container-video .video .video__active .video__wrapper {
  position: relative;
  padding-bottom: 52.1%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
main section.four-screen iframe, main section.four-screen object, main section.four-screen embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
main section.five-screen {
  min-height: 495px;
  height: 100%;
  background: #e9e3d0;
}
main section.five-screen .container-review {
  max-width: 1434px;
  width: 100%;
  margin: 0 auto;
  padding-top: 55px;
  position: relative;
}
main section.five-screen .container-review .slider-review {
  width: 100%;
  margin-top: 35px;
}
main section.five-screen .container-review .slider-review .items-review {
  max-width: 1040px;
  width: 100%;
  margin: 0 auto;
}
main section.five-screen .container-review .slider-review .items-review .item .rev {
  color: #000;
  font-family: Lato;
  font-size: 18px;
  font-weight: 500;
  font-style: italic;
  display: none;
}
main section.five-screen .container-review .slider-review .items-review .item .rev p {
  letter-spacing: 0.45px;
  line-height: 31px;
}
main section.five-screen .container-review .slider-review .items-review .item .author {
  text-align: right;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
main section.five-screen .container-review .slider-review .items-review .item .author .img img {
  -webkit-border-radius: 100%;
  border-radius: 100%;
  width: 85px;
  height: 85px;
}
main section.five-screen .container-review .slider-review .items-review .item .author .name {
  padding-left: 25px;
}
main section.five-screen .container-review .slider-review .nav .prev {
  width: 66px;
  position: absolute;
  top: 50%;
  margin-top: -31px;
  left: 0;
  cursor: pointer;
}
main section.five-screen .container-review .slider-review .nav .prev img {
  filter: brightness(0%);
  -webkit-transition: all 0.2s ease-out 0s;
  -moz-transition: all 0.2s ease-out 0s;
  -o-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
}
main section.five-screen .container-review .slider-review .nav .prev img:hover {
  filter: brightness(50%);
}
main section.five-screen .container-review .slider-review .nav .next {
  width: 66px;
  position: absolute;
  top: 50%;
  margin-top: -31px;
  right: 0;
  cursor: pointer;
}
main section.five-screen .container-review .slider-review .nav .next img {
  filter: brightness(0%);
  -webkit-transition: all 0.2s ease-out 0s;
  -moz-transition: all 0.2s ease-out 0s;
  -o-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
}
main section.five-screen .container-review .slider-review .nav .next img:hover {
  filter: brightness(50%);
}
main section.five-screen .container-review .ttl h2 {
  color: #000;
}
main section.six-screen {
  min-height: 278px;
  height: 100%;
  background: #a07262;
}
main section.six-screen .container-contacts {
  max-width: 1460px;
  width: 100%;
  margin: 0 auto;
  padding-top: 40px;
}
main section.six-screen .container-contacts .flex-wrap {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
main section.six-screen .container-contacts .flex-wrap .item {
  text-align: center;
  margin-top: 44px;
}
main section.six-screen .container-contacts .flex-wrap .item .desc {
  margin-top: 30px;
  color: #fff;
  font-family: Lato;
  font-size: 33px;
  font-weight: 400;
  line-height: 11px;
}

footer {
  position: relative;
}
footer .container-footer {
  max-width: 1360px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  min-height: 115px;
  -webkit-align-items: center;
  align-items: center;
}
footer .container-footer .site-footer {
  font-family: Lato;
  font-size: 25px;
  font-weight: 800;
  line-height: 11px;
}
footer .container-footer .site-footer a {
  color: #c5a07c;
}
footer .container-footer .address-footer {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
}
footer .container-footer .address-footer i img {
  height: 39px;
  width: 29px;
}
footer .container-footer .address-footer span {
  margin-left: 15px;
  color: #000;
  font-size: 23px;
  line-height: 11px;
  font-weight: 400;
  letter-spacing: 0.57px;
}
footer .container-footer .phone-footer {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
}
footer .container-footer .phone-footer i img {
  width: 37px;
  height: 37px;
}
footer .container-footer .phone-footer a span {
  margin-left: 15px;
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 0.63px;
}
footer .copyright {
  position: absolute;
  bottom: 0;
  right: 31px;
}
footer .copyright ul li {
  display: inline-block;
}
footer .copyright ul li a {
  color: #8a8888;
  font-family: Lato;
  font-size: 19px;
  font-weight: 400;
  line-height: 44px;
}
footer .copyright ul li.active a {
  color: #000;
}
