@import "_normalize";
$LBk: 'Lato-Black';
$LB: 'Lato-Bold';
$LH: 'Lato-Heavy';
$LM: 'Lato-Medium';
$LMi: 'Lato-MediumItalic';
$L: 'Lato-Regular';

$normal: normal;
$italic: italic;
$bold: bold;
$medium: 500;
$heavy: 700;
$black: 900;

$dir:'../fonts/';
$bgcolor:#a07262;
$wt:#fff;
$bk:#000;
$accentcolor:#c5a07c;
$ttl:31px;

@mixin fl(){
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}
@mixin trans($x,$y,$z,$t){
    -webkit-transition: $x $y+s $z $t+s;
     -moz-transition: $x $y+s $z $t+s;
     -o-transition: $x $y+s $z $t+s;
     transition: $x $y+s $z $t+s;
}
@mixin font($fontname, $fweight, $fstyle){
    @font-face {
                font-family: Lato;
                src: url($dir+$fontname+'.ttf') format("truetype");
                font-weight: $fweight;
                font-style: $fstyle;
    }
}
@include font($LBk, $black, $normal);@include font($LB, $bold, $normal);@include font($LH, $heavy, $normal);@include font($LM, $medium, $normal);@include font($LMi, $medium, $italic);@include font($L, $normal, $normal);

body{
    font-family: 'Lato', sans-serif;
}
.ttl{
    text-align: center;
    h2{
        color: $wt;
        font-family: Lato;
        font-size: 31px;
        font-weight: 700;
        line-height: 51px;
        text-transform: uppercase;
        letter-spacing: 0.31px;
    }
}
main{
    header{
        position: relative;
        .container-header{
            max-width: 1360px;
            width: 100%;
            margin-right: auto;
            margin-left: auto;
            @include fl();
            -webkit-justify-content: space-between;
                    justify-content: space-between;
            min-height: 115px;
            -webkit-align-items: center;
                    align-items: center;
            .site-header{
                font-family: Lato;
                font-size: 25px;
                font-weight: 800;
                line-height: 11px;
                a{
                    color: $accentcolor;
                }
            }
            .address-header{
                @include fl();
                align-items: center;
                i{
                    img{
                        height: 39px;
                        width: 29px;
                    }
                }
                span{
                    margin-left: 15px;
                    color: $bk;
                    font-size: 23px;
                    line-height: 11px;
                    font-weight: 400;
                    letter-spacing: 0.57px;
                }
            }
            .phone-header{
                @include fl();
                align-items: center;
                    i{
                        img{
                            width: 37px;
                            height: 37px;
                        }
                    }
                a{
                    span{
                        margin-left: 15px;
                        font-size: 25px;
                        font-weight: $bold;
                        letter-spacing: 0.63px;
                    }
                }
                
            }
        }
        .local{
            position: absolute;
            top: 0;
            right: 31px;
            ul{
                li{
                    display: inline-block;
                    a{
                        color: #8a8888;
                        font-family: Lato;
                        font-size: 19px;
                        font-weight: 400;
                        line-height: 44px;
                    }
                    &.active{ 
                        a{
                            color: $bk;
                        }
                    }
                }
            }
        }
    }
    section{
        &.one-screen{
            min-height: 617px;
            height: 100%;
            @include fl();
            .item-desc{
                width: 46%;
                background: url(../img/bg-one.jpg);
                @include fl();
                justify-content: center;
                align-items: center;
                .logo-data{
                    .logo{
                        img{
                            max-width: 495px;
                            width: 100%;
                            height: auto;
                        }
                    }
                    .slogan{
                        color: $wt;
                        font-family: Lato;
                        font-size: 37px;
                        line-height: 1.3em;
                        p{
                            span{
                                color: $bk;
                                font-weight: 900;
                            }
                        }
                    }
                    nav{
                        color: $bk;
                        font-family: Lato;
                        font-size: 22px;
                        font-weight: $bold;
                        line-height: 51px;
                        margin-top: 90px;
                        ul{
                            li{
                                list-style: none;
                                display: inline-block;
                                position: relative;
                                a{
                                    
                                }
                                &:after{
                                    content: ".";
                                    font-size: 85px;
                                    color: $wt;
                                    position: relative;
                                    padding: 0px 7px 0px 15px;
                                    top: -2px;
                                }
                                &:last-child:after{
                                    content: ""
                                }
                            }
                        }
                    }
                }
            }
            .slider-item{
                position: relative;
                flex: none;
                .slides{
                    width: 100%;
                    height: 100%;
                    .slide{
                        height: 100%;
                        img{
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
                .navs{
                    .prev{
                        position: absolute;
                        z-index: 33;
                        left: 31px;
                        top: 50%;
                        margin-top: -25px;
                        cursor: pointer;
                        img{
                            
                        }
                    }
                    .next{
                        position: absolute;
                        z-index: 33;
                        right: 31px;
                        top: 50%;
                        margin-top: -25px;
                        cursor: pointer;
                        img{
                            
                        }
                    }
                }
            }
        }
        &.two-screen{
            min-height: 488px;
            background: $bgcolor;
            width: 100%;
            .vantage{
                padding-top: 70px;
                .flex-wrap{
                    @include fl();
                    justify-content: space-around;
                    align-items: baseline;
                    
                    margin-top: 70px;
                    .item-vantage{
                        text-align: center;
                        max-width: 230px;
                        .img{
                            img{
                                max-width: 100%;
                                height: auto;
                            }
                        }
                        p{
                            color: $wt;
                            font-family: Lato;
                            font-size: 23px;
                            font-weight: 500;
                            line-height: 21px;
                        }
                    }
                }
            }
        }
    }























}